@using Newtonsoft.Json;
@using KdajBi.Web.ViewModels;
@inject KdajBi.Web.Services.IApiTokenProvider apiTP
@model vmBooking
@{
  Layout = "~/Views/Shared/_EmptyLayout.cshtml";
  ViewData["Title"] = "Naročilo";
}

@section styles{

    @Html.Raw(@Model.PublicBoooking_CSS)
}


<!-- page content -->

<div class="card mt-5 card-book">
    <div class="card-body login-card-body card-body-book">
    <h1 class="mb-2">KdajBi naročanje</h1>
    <div>
      Hvala, uspešno ste oddali naročilo na termin!
      <br />Po sms-u boste v kratkem prejeli potrditev vašega izbranega termina.
            <br />
            <h3><a class="btn btn-primary" href="https://kdajbi.si">KdajBi.si</a></h3>
    </div>
  </div>
</div>
@section scripts{
<script type="text/javascript">
</script>
}
