@using KdajBi.Web.ViewModels;
@model IEnumerable<vmLocationsCombo>
<select id="cboLocations" class="custom-select custom-select-sm form-control form-control-sm col-3">
    @foreach (var item in Model)
    {
        @if (item.Selected)
        {<option value="@item.Id" selected >@Html.Raw(item.Name)</option>}
            else
        {<option value="@item.Id" >@Html.Raw(item.Name)</option>}
        }
</select>
