
@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewData["Title"] = "Registracija novega uporabnika";
}


<p class="login-box-msg">Registracija novega uporabnika</p>

<form id="dataform" name="dataform" action="~/Account/Register" method="post">

    <div class="form-group has-feedback">
        <input name="p_email" type="email" class="form-control" placeholder="Email" value="@Model.Email" readonly="readonly">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input name="p_firstname" type="text" class="form-control" placeholder="Ime"  value="@Model.FirstName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input name="p_lastname" type="text" class="form-control" placeholder="Priimek"  value="@Model.LastName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    Podjetje:
    <div class="form-group input-group has-feedback">
        <input id="p_davcna" name="p_davcna" type="text" class="form-control" placeholder="Davčna številka">
        <div class="input-group-append">
            <button id="cmdCheckVAT" value="Preveri" type="button" class="btn btn-default" onclick="return cmdCheckVAT_click(); return false;"
                    data-loading-text="Počakajte...">
                Poišči
            </button>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <input id="p_naziv" name="p_naziv" type="text" class="form-control" placeholder="Naziv" readonly="readonly">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input id="p_nazivsalona" name="p_nazivsalona" type="text" class="form-control" placeholder="Naziv salona" >
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="col-xs-8">
        <div class="checkbox icheck">
            <label class="mojgroup has-feedback">
                <input id="IAgree" name="IAgree" type="checkbox"> Strinjam se s <a href="#">pogoji poslovanja</a>
            </label>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Registriraj</button>
    </div>
</form>
<!-- /page content -->
@section modals{
<!-- modal new client content-->
<div id="tosModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ClientModalLabel">Najprej se morate strinjati s spodnjimi pogoji poslovanja</h4>
                
            </div>
            <div class="modal-body">
                <div class="row justify-content-center" >
                <div class="col-lg-12">
                    <div class="section-title pb-20">
                        <br/><br/><h4 class="title">Splošni pogoji poslovanja</h4><br/><br/>
                        <h6 align="justify">
                            1. Uvodna določba
                        </h6><p class="text">
                            S temi Splošnimi pogoji
                            uporabe (v nadaljevanju »Splošni pogoji«) so določeni pogoji uporabe
                            ter vaše pravice kot uporabnika (v nadaljevanju
                            »uporabnik«) ter ponudnika storitve družbe <strong>ROMB d.o.o.</strong>,
                            Dvor 41, 3240 Šmarje pri jelšah (v nadaljevanju »skrbnik«), v
                            zvezi z uporabo in delovanjem portala www.KdajBi.si (v nadaljevanju »spletni portal«).
                        </p><p class="text">
                            Uporabnik je vsakdo, ki
                            obišče ali uporablja katerokoli spletno stran ali podstran skrbnika
                            navedeno v tem členu. Za uporabnika v smislu teh Splošnih pogojev se
                            štejejo končni uporabniki, ki koristijo storitve KdajBi.si.
                        </p><p class="text">
                            Splošni pogoji veljajo in
                            zavezujejo vse vrste uporabnikov, ki uporabljajo spletni portal 
                            skrbnika. Splošni pogoji so sestavni del vsake pogodbe
                            skrbnika z uporabnikom spletnega portala, razen v
                            primerih, ko je s temi ali drugimi splošnimi pogoji določeno drugače.
                            Vse navedene določbe teh Splošnih pogojev poslovanja so splošni pogoji v
                            smislu 120. člena Obligacijskega zakonika (Uradni list RS, št. 97/07 in
                            nasl.), ki dopolnjujejo pogodbo in so zavezujoči kot pogodbena
                            določila.
                        </p><p class="text">
                            Z uporabo spletnega portala in storitev skrbnika, uporabnik potrjuje in soglaša, da:
                        </p><ul><li><p class="text"> je prebral in razumel ter bo spoštoval te Splošne pogoje; </p></li>
                        <li><p class="text"> ga ti Splošni pogoji pravno zavezujejo; </p></li>
                        <li><p class="text"> je star 18 let ali več, ter je poslovno sposoben. </p></li></ul>
                        <br/><br/><h6 align="justify">
                            2. Registracija uporabnikov
                        </h6><p class="text">
                            Za uporabo storitev
                            KdajBi.si se mora uporabnik predhodno registrirati na
                            spletnem portalu. Z opravljeno registracijo uporabnik pridobi pravico
                            do uporabe storitev. Z registracijo se šteje, da
                            uporabnik sprejme te pogoje ter soglaša z <a href="~/LandingPage/PrivacyPolicy.html" target="_blank"> Politiko varstva osebnih
                            podatkov</a> skrbnika, objavljeno na njegovi spletni strani. Uporabnik mora
                            vsa zahtevana polja izpolniti s svojimi resničnimi podatki. Izdajanje za
                            drugo pravno ali fizično osebo je kaznivo dejanje.
                        </p><p class="text">
                            Uporabnik je izključno
                            odgovoren za ustrezno ravnanje z uporabniškim računom in varovanje
                            svojega uporabniškega gesla pred nepooblaščenim dostopom tretjih oseb.
                            Skrbnik ne prevzema nobene odgovornosti za morebitne zlorabe
                            uporabniškega računa.
                        </p><br/><br/><h6 align="justify">
                            3. Uporabniške vsebine
                        </h6><p class="text">
                            KdajBi.si je platforma
                            ki uporabnikom omogoča enostavno vodenje podatkov o njihovih strankah, spletno naročanje in obveščanje.
                        </p><p class="text">
                            Uporabnik se zavezuje, da
                            bo njegova uporabniška vsebina resnična in zakonita. Skrbnik spletnega
                            portala ne odgovarja za uporabniške vsebine, objavljene na
                            spletnem portalu. Uporabniške vsebine so last
                            uporabnikov in zanje odgovarjajo sami. Kljub temu si skrbnik pridržuje
                            pravico, da lahko blokira, briše ali ureja vsebino, za katero po lastni
                            presoji smatra, da krši zakonodajo oziroma je drugače nesprejemljiva.
                        </p><p class="text">
                            Z objavo uporabniške
                            vsebine se uporabnik strinja z njenim prikazom in s
                            povezano promocijsko rabo te vsebine. Uporabnik se zavezuje, da bo o
                            morebitnih nepravilnostih glede objav uporabniških vsebin, nemudoma
                            obvestil skrbnika portala.
                        </p><br/><br/><h6 align="justify">
                            4. Uporaba portala
                        </h6><p class="text">
                            Skrbnik ne prevzema jamstva, da bo portal zadovoljil posebne uporabnikove potrebe. Uporabnik se je o tem, ali program
ustreza konkretnim uporabnikovim zahtevam in potrebam, seznanil pred sklenitvijo te pogodbe.
                        </p><p class="text">
                           Vso odgovornost za uporabnost programa nosi uporabnik. Skrbnik v nobenem primeru ne nosi odgovornosti za kakršnokoli
posredno ali neposredno škodo nastalo z normalno ali zlonamerno uporabo portala.
                        </p>
                        <p class="text">
                           Skrbik ne prevzema nobenih odgovornosti, če uporabnik vede ali nevede vnaša, tvori ali prikazuje podatke na način, ki ni v
skladu z veljavnimi predpisi in zakoni.
                        </p>
                        <p class="text">
                           Skrbik ne prevzema jamstva za pravilno delovanje portala in njegovih storitev, kot tudi ne za neomejeno hranjenje uporabnikovih podatkov. Skrbnik v nobenem primeru ne nosi odgovornosti za kakršnokoli
posredno ali neposredno škodo nastalo zaradi napak v samem delovanju portala. Prav tako skrbnik v nobenem primeru ne nosi odgovornosti za morebitno izgubo uporabniških podatkov.
                        </p><br/><br/><h6 align="justify">
                            5. Varovanje osebnih podatkov in uporabniških vsebin
                        </h6><p class="text">
                            Skrbnik obdeluje osebne
                            podatke uporabnikov v skladu z evropsko zakonodajo (Uredba (EU) 2016/697
                            o varstvu posameznikov pri obdelavi osebnih podatkov in o pretoku takih
                            podatkov (v nadaljevanju: Splošna uredba ali GDPR)) in veljavno
                            slovensko zakonodajo s področja varstva osebnih podatkov ter internimi
                            akti. Informacije o obdelavi osebnih podatkov in o pravicah
                            posameznikov, ki iz nje izvirajo so podrobneje opredeljene v Politiki
                            zasebnosti objavljeni na: <a href="~/LandingPage/PrivacyPolicy.html" target="_blank">www.KdajBi.si\Privacypolicy.html</a>.
                        </p><p class="text">
                            Med trajanjem pogodbe in
                            še po njej, lahko skrbnik uporabi neosebne oz. anonimizirane podatke za
                            izboljšanje storitve, statistične analize, tehnično podporo in druge
                            poslovne namene.
                        </p><p class="text">
                            Skrbnik bo osebne
                            podatke, ki mu jih bo posredoval uporabnik, obdeloval za namene
                            zagotavljanja pravic uporabnika iz te pogodbe, za preverjanje skladnosti
                            uporabe s splošnimi pogoji poslovanja, za analiziranje in
                            proučevanja uporabniških navad, za namen ocenjevanja ponudbe, za namen
                            predvidevanja uporabnikovih interesov, ekonomskega položaja in
                            optimiziranja ponudb ter stroškov, za dvig zadovoljstva kupcev, pri
                            reševanju vaših vprašanj, pobud, ugovorov ali reklamacij, za obveščanje o
                            tehničnih, pravnih in drugih vprašanjih. Občasno bo skrbnik uporabnika
                            zaprosil za povratne informacije o zadovoljstvu z uporabo storitve.
                            Podatke uporabnika bo skrbnik lahko uporabljal tudi za namene
                            neposrednega trženja in za uporabnika pripravili posebne ponudbe ter ga o
                            njih obvestil na primeren način.
                        </p><p class="text">
                            Uporabnik ne more
                            ugovarjati drugim namenom obdelave osebnih podatkov, ki se nanašajo
                            nanj, v zvezi z uporabo, razen na način, da odstopi od pogodbe v skladu s
                            temi splošnimi pogoji. V tem primeru mora ukiniti uporabniški račun.
                        </p><p class="text">
                            Skrbnik ne posreduje osebnih podatkov uporabnikov tretjim osebam, razen:
                        </p><ul>
                            <li>
                                <p class="text">
                                    zunanjim pogodbenim izvajalcem, ki podatke obdelujejo izključno v
                                    imenu, za račun, po navodilih in pod nadzorom skrbnika (npr. klicni
                                    centri, tiskarji, oglaševalske agencije),
                                </p>
                            </li>
                            <li><p class="text"> državnim organom na podlagi njihove obrazložene zahteve za potrebe vodenja konkretnega postopka, </p></li>
                            <li><p class="text"> če se izkažejo s pisno osebno privolitvijo oziroma pooblastilom uporabnika. </p></li>
                        </ul><br/><br/><h6 align="justify">
                            6. Uporabniška podpora
                        </h6><p class="text">
                            Skrbnik vsem uporabnikom
                            nudi strokovno in tehnično pomoč pri uporabi spletnega portala
                        in sicer v rednem delovnem času skrbnika. Če ima uporabnik
                            kakršno koli vprašanje ali težavo v zvezi z uporabo spletnega
                            portala, lahko svojo prošnjo pošlje na elektronski naslov: <em>KdajBi.si@gmail.com</em>
                        </p><br/><br/><h6 align="justify">
                            7. Avtorske pravice
                        </h6><p class="text">
                            Vsebina spletnega
                            portala je v lasti skrbnika in zato avtorsko zaščitena z
                            veljavnimi zakoni. V vsebino je vključena tudi grafična podoba spletnega
                            portala z vsemi grafičnimi elementi. Vsakršno kopiranje
                            in objavljanje te vsebine na drugih spletnih mestih ali aplikacijah je
                            prepovedano, razen v primeru pisnega dovoljenja skrbnika.
                        </p><br/><br/><h6 align="justify">
                            8. Omejitev odgovornosti
                        </h6><p class="text">
                            Uporabnik se obvezuje,
                            da spletnih strani skrbnika navedenih v prvem členu teh
                            pogojev, ne bo uporabljal za nezakonite namene ali namene, ki bi lahko
                            škodovali skrbniku ali drugim uporabnikom. Ravno tako ni dovoljeno
                            onemogočanje ali oviranje uporabe drugim njegovim uporabnikom. Skrbnik
                            ne odgovarja za pravilnost ter ažurnost podatkov, ki jih objavi
                            uporabnik in ne prevzema odgovornosti za dejanja, ki jih uporabnik
                            opravi na podlagi objavljenih podatkov. Skrbnik ni odgovoren za
                            kakršnokoli škodo, ki bi izvirala iz morebitnih tehničnih težav ali
                            drugih motenj.
                        </p><p class="text">
                            Strani
                            navedene v prvem členu teh pogojev lahko vsebujejo tudi povezave na
                            spletna mesta tretjih oseb. Skrbnik ne prevzema odgovornosti za
                            spoštovanje zasebnosti in vsebino na teh spletnih mestih. Skrbnik prav
                            tako ne jamči (ne pogodbeno niti odškodninsko ali kakor koli drugače) za
                            kakršno koli izgubo ali škodo, ki bi nastala kot posledica uporabe ali
                            nezmožnost uporabe, izgubo ali napake v podatkih in točnosti podatkov.
                        </p><p class="text">
                            9. Trajanje in prenehanje pogodbe
                        </p><p class="text">
                            Uporabnik z uporabo
                            storitev spletnega portala KdajBi.si s skrbnikom
                            sklene pogodbo o uporabi storitev KdajBi.si, katere sestavni del so ti
                            Splošni pogoji. Ta pogodba je sklenjena za nedoločen čas. Uporabnik ima
                            pravico odstopiti od pogodbe, kar lahko naredi z ustrezno
                            spremembo nastavitev ali z obvestilom po elektronski pošti
                            na <em>KdajBi.si@gmail.com)</em>, ali pisno po priporočeni pošti na naslov sedeža skrbnika, vendar se mora v izogib zlorabam najprej izkazati kot uporabnik.
                        </p><p class="text">
                            V primeru, če uporabnik
                            huje krši pravila glede primernega nivoja komuniciranja (nadlegovanje,
                            žaljiv govor, diskriminiranje ipd.), izvaja aktivnosti, ki so v
                            nasprotju s pogodbo, temi splošnimi pogoji ali zakonodajo, ima skrbnik
                            pravico nemudoma odstopiti od pogodbe in trajno ali začasno blokirati
                            oz. izbrisati uporabniški račun.
                        </p><p class="text">
                            Skrbnik si pridržuje pravico, da lahko brez odpovednega roka odstopi od pogodbe, brez navedbe razloga.
                        </p><br/><br/><h6 align="justify">
                            10. Reševanje sporov
                        </h6><p class="text">
                            Za vsa vprašanja glede
                            strukture, veljavnosti, uveljavljanja in razlage teh Splošnih pogojev se
                            uporablja pravo Republike Slovenije. Morebitne spore, nastale zaradi
                            kršitev teh Splošnih pogojev, si bo skrbnik portala prizadeval reševati
                            po mirni poti. Za reševanje sporov, za katere se izčrpa vse ostale zunaj
                            sodne možnosti sporazuma, je pristojno stvarno pristojno sodišče po
                            sedežu skrbnika.
                        </p><br/><br/><h6 align="justify">
                            11. Končna določba
                        </h6><br/><br/><h6 align="justify"></h6><p class="text">
                            Skrbnik ima pravico dopolniti, popraviti ali spremeniti Splošne pogoje
                            poslovanja. V tem primeru bo pred njihovo uveljavitvijo seznanil
                            uporabnika tako, da mu pošlje predlog spremembe splošnih pogojev
                            (e-mail, obvestilo na spletnem portalu ali drugače). Če uporabnik
                            ne soglaša s spremembami splošnih pogojev, lahko brez odpovednega roka
                            odstopi od pogodbe, sklenjene na podlagi teh Splošnih pogojev. Odpoved
                            uporabnika se šteje za veljavno, če je podana na način določen v 8.členu
                            teh Splošnih pogojev. Nadaljnja uporaba storitev skrbnika po začetku
                            veljavnosti novih pogojev pomeni strinjanje uporabnika s temi pogoji.
                        </p><p class="text">
                            Za kakršnokoli vprašanje ali pripombe glede teh Splošnih pogojev, je
                            skrbnik uporabniku na voljo na e-poštnem naslovu <em>KdajBi.si@gmail.com</em>
                        </p><p class="text">
                            Ti splošni pogoji veljajo in se uporabljajo od 15.09.2022 dalje.
                        </p><p class="text">
                            V Dvoru, 15.09.2022
                        </p>
                    </div>
                    <!-- section title -->
                </div>
            </div> <!-- row -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cmdDisagree">
                    Se ne strinjam
                </button>
                <button type="button" class="btn btn-primary" id="cmdAgree">
                    Strinjam se
                </button>
            </div>
        </div>
    </div>
</div>
<!-- /modal content-->
    }

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery.validator.addMethod("isSITaxID", function (value, element) {
                return this.optional(element) || (isSITaxID(value));
            }, "Vnesite veljavno davčno številko");

            $('#dataform').validate({
                rules: {
                    IAgree: {
                        required: true
                    },
                    p_firstname: {
                        minlength: 3,
                        maxlength: 20,
                        required: true
                    },
                    p_lastname: {
                        minlength: 3,
                        maxlength: 20,
                        required: true
                    },
                    p_davcna: {
                        minlength: 8,
                        maxlength: 8,
                        digits: true,
                        required: true,
                        isSITaxID: true
                    },
                    p_naziv: {
                        minlength: 3,
                        required: true
                    },
                    p_nazivsalona: {
                        minlength: 3,
                        maxlength: 20,
                        required: true
                    },
                },
                messages: {
                    IAgree: "Strinjati se morate s pogoji poslovanja",
                    p_firstname: "Neveljavno ime",
                    p_lastname: "Neveljaven priimek",
                    p_davcna: "Vnesite veljavno davčno številko",
                    p_naziv: "Kliknite \"Poišči\", da naložite podatke o podjetju",
                    p_nazivsalona: "Neveljavno ime"
                },
                highlight: function (element) {
                    $(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-control').removeClass('is-invalid');
                },
                errorElement: 'span',
                errorClass: 'invalid-feedback',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.appendTo(element.parent('.input-group'));
                    } else {
                        if (element.parent('.mojgroup').length) {
                            error.appendTo(element.parent('.mojgroup'));
                        } else { error.insertAfter(element); }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $("#cmdDisagree").off('click').click(function (evt) {
                window.location.href = '@Url.Action("Index", "Home")';
            });
            $("#cmdAgree").off('click').click(function (evt) {
                $("#IAgree").prop('checked', true);
                localStorage.setItem("AgreeToTOS","true");
                $("#tosModal").modal("hide");
            });
            var iagree = localStorage.getItem("AgreeToTOS");
            if (iagree == null) {
                //show TOS
                $("#tosModal").modal("show");
            }

        });


        function isSITaxID(p_SITAXID) {
            /*
            Check digit using modulo 11 (za preverit slovensko davčno)
            Arguments:
            - n is your given number to test the check digit
            - x is an optional argument that is used to determine the check digit
            used in case of the rest of the division is less than 2. Defaults to 0.

            Returns an integer, the checkDigit for the given number.
            var l = n.length, i = 0, j = (l % 8), v = 0;
            */
            if (p_SITAXID.length < 8) { return false; }
            if (p_SITAXID.length == 8) {
                var l = p_SITAXID.length, i = 0, j = 8, v = 0;
                for (i = 0; i < l; i++) {
                    v += parseInt(p_SITAXID[i], 10) * j;
                    --j;
                }
                if (p_SITAXID.substring(7, 8) == "0") { return (((v % 11) == 0) || ((v % 11) == 1)) }
                else { return ((v % 11) == 0); }
            }
            else { return true; }
        };



        function cmdCheckVAT_click() {
            $('#cmdCheckVAT').button('loading');

            var davcna = $('input[id=p_davcna]').val().trim();
            if (davcna.substring(0, 2).toUpperCase() == "SI") { davcna = davcna.substring(2); }
            $('input[id=p_davcna]').val(davcna);

            var date = new Date();

            var RequestID = new Date().toISOString().replace(/[^0-9]/gm, "").substr(0, 14);
            var xmlPodatki = "   <ServiceData ServiceName=\"vrniPodjetje\">" + davcna + "</ServiceData>"
            var myXML = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>"
            myXML = myXML + "<ServiceRequest Sender=\"KDAJBI\" RequestID=\" + RequestID + \">"
            myXML = myXML + xmlPodatki
            myXML = myXML + "</ServiceRequest>"
            $.ajax({
                type: "post",
                data: myXML,
                url: "https://colorhit.si/webColorhit/CHHandler.ashx",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                async: false,
                success: function (result) {
                    $("#p_naziv").val(result);
                }
            });

        };





        function SaveRecord(p_ID) {
            if ($('#dataform').valid()) {
                var company = {};
                company.id = p_ID;
                company.Name = $('#txtName').val();
                company.Active = $("#cbActive").prop('checked');
                getAPIToken().then((result) => {
                $.ajax({
                    type: "post",
                    data: JSON.stringify(company),
                    url: apiURL + "/api/company/",
                    contentType: "application/json; charset=utf-8",
                    headers: { 'Authorization': 'Bearer ' + result.AccessToken },
                    dataType: "json",
                    success: function (result) {
                        if (result == "OK") { toastr.success("Shranjeno"); GetTable(); return true; }
                        else { toastr.error("Napaka:" + result); return false; }
                    },
                    error: function (xhr, status, error) {
                        toastr.error("Napaka:" + error.toString());
                        return false;
                    }
                });
                });
            } else { return false; }
        }


    </script>
}