
@{
	ViewData["Title"] = "Pomoč";
}


<p class="login-box-msg">Tu bo zbrana pomoč...</p>


@section styles {
	

}


@section scripts {
	<script src="~/plugins/shepherdjs/shepherd.min.js"></script>

	<script type="text/javascript">
		
		$(document).ready(function () {
			
			
		});





	</script>
}