@{
    ViewData["Title"] = "Home Page";
}

@section styles{
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">*@
    <link href="/css/chunk-vendors.0b3da50c.css" rel="preload" as="style">
    <link href="/js/app.7ba77493.js" rel="preload" as="script">
    <link href="/js/chunk-vendors.526c8f00.js" rel="preload" as="script">
    <link href="/css/chunk-vendors.0b3da50c.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    }

<div class="text-center">
     <noscript><strong>We're sorry but kdajbi doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div>
    <script src="/js/chunk-vendors.526c8f00.js"></script>
    <script src="/js/app.7ba77493.js"></script>
    
</div>
